* {
  margin: 0;
  padding: 0;
}
.headingCss {
  font-size: 2rem;
  background: purple;
  padding: 15px;
  text-align: center;
  color: white;
  margin-top: 5px;
}

.DateCss {
  background-color: aqua;
  font-size: 1rem;
  text-align: center;
  color: red;
  padding: 15px;
}
.main {
  text-align: center;
}
.card {
  background: #ffda77;
  box-shadow: 2px 4px 4px gray;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 390px;
  display: inline-block;
}
.cardTitle {
  text-align: center;
  margin-bottom: 5px;
}
.cardDesc {
  text-align: center;
  margin-bottom: 5px;
}
.cardDate {
  text-align: center;
  font-weight: bold;
}

.icon {
  font-size: 4rem;
  margin: 1rem;
}
Button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: limegreen;
  color: white;
  margin: 10px;
  font-size: 2rem;
}
